[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
selfie = "*"
executors = "*"
yaxil = ">=0.9.2"
matplotlib = "*"
nibabel = "*"
scipy = "*"
boldqc = {editable = true,path = "."}

[requires]
python_version = "3.6.8"
